
<form>

<div>
    <div>
    CONTACT:
    <p>First Name:</p>
        <input id="firstname" type="text">
    <p>Last Name:</p>
        <input id="lastname" type="text">
    <p>Address:</p>
        <input id="adress" type="text">
    <p>ZIP/City:</p>
        <input id="zipcity" type="text">
    <p>Country:</p>
        <input id="country" type="text">
    </div>
    <div>
        <p>PHONE NUMBERS:</p>
        <p>Publish field:</p>
        <input id="phone" type="text">
        +Add
    </div>
    <div>
        <p>EMAILS:</p>
        <p>Publish field:</p>
        <input id="email" type="text">
        +Add
    </div>
</div>


<div>
    <p><input id="publish" type="checkbox" value="0">Publish my contact</p>

    <input id="" type="submit" value="Save">
</div>


</form>